/* styles.css */

/* Reset some default browser styles */
html {
    box-sizing: border-box;
  }
  /* Holy Grail Layout */
  body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "left main right"
      "footer footer footer";
    gap: 2rem;
    min-height: 100vh;
  }
  header {
    grid-area: header;
  }
  
  main {
    grid-area: main;
  }
  
  aside.toolsAside {
    grid-area: left;
  }
  
  aside.feedAside {
    grid-area: right;
  }
  
  footer {
    grid-area: footer;
    background-color: #4caf50;
    padding: 1.5rem 0;
    text-align: center;
    color: #fff;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    body {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto auto auto;
      grid-template-areas:
        "header"
        "main"
        "left"
        "right"
        "footer";
    }
  }