table {
    border-collapse: separate; 
    width:100%
}

.win {
    background-color: green;
    color : white;
}

.lose {
    background-color: red;
    color: white;
}

.playerHeaderRow {
    cursor: pointer;
    padding: 5px;
    display:flex;
    padding: 0;
}

.playerHeaderCell{
    text-decoration: underline;
    padding: 10px;
    flex: 1;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.playerHeaderCell:hover {
    text-decoration: none;
    filter: brightness(80%);
}

tr.playerDataRow {
    display:flex;
}

.playerDataRow td {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.expanderRow {
    display:flex;
    justify-content: center;
}

.expanderCell {
    background-color: rgb(133, 133, 133);
    border: none;
    width:20%;
    display: flex;
}

.expanderButton {
    flex: 1;
    font-size: 15px;
    padding: 5px;
}

.forceLeft {
    order: -1;
}

#playerSideToggle {
    width:20px;
    height:20px;
}
.extraInfoContainer {
    display:flex;
    padding: 10px;
}

.extraInfo {
    flex: 1;
}

.match {
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    margin:5px;
    padding: 10px;
}
.matchTableContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

