/* base styles */
html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #c8d0db;
    height: 100%;
    width: 100%;
}

:root {
  font-size: 20px;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #c8d0db;
}

body {
  margin: 0;
  height: 100%;
  background-color: #0A2647;
  display: flex;
  flex-direction: column;
}

/* header styles */

.headerText {
    background-color: #03162c;
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 2.5em;
    color: #ffbb00;
    font-family: 'Luckiest Guy';
    font-weight: 100;
    text-shadow: 0px 3px 2px black;
}

.toolList {
    margin: 0 0 15px;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 4px;
}

.toolList>li {
    font-weight: 300;
    transition: all 0.25s ease;
    background-color: #144272;
    flex: 1;
    text-align: center;
    box-shadow: 0 3px 0px black;
    border-bottom: 3px solid #2C74B3;
}

.toolList>li>* {
    box-sizing: border-box;
    padding: 15px;
    display: block;
    width: 100%;
    height: 100%;
}

.toolList>li:hover {

    transition: all 0.25s ease;
    filter: brightness(105%);
    cursor: pointer;
    font-weight: 600;
    position: relative;
}

.toolList>li:active {
    filter: brightness(95%);
    position: relative;
    top: 1px;
}

.toolList a {
    width: 100%;
    text-decoration: none;
    color: #c8d0db;
}

.toolList a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

/* match history styles */

table {
    border-collapse: separate;
    width:100%;
    background-color: #144272;
    border: 3px solid #2C74B3;
    border-radius: 5px;
}


.win {
    background-color: rgb(0, 167, 0);
    color : white;
}

.lose {
    background-color: red;
    color: white;
}

.draw {
    background-color: goldenrod;
    color: white;
}

.lobbyDC {
    background-color: rgb(138, 75, 75);
    color: white;
}

.opponentLobbyDC {
    background-color: rgb(67, 150, 47);
    color: white;
}

.playerHeaderRow {
    cursor: pointer;
    padding: 5px;
    display:flex;
    padding: 0;
}

.playerHeaderCell{
    text-decoration: underline;
    padding: 10px;
    flex: 1;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.playerHeaderCell:hover {
    text-decoration: none;
    filter: brightness(80%);
}

tr.playerDataRow {
    display:flex;
}
.playerDataRow td {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.expanderRow {
    display:flex;
    justify-content: center;
}

.expanderCell {
    background-color: rgb(133, 133, 133);
    border: none;
    width:20%;
    display: flex;
}

.expanderButton {
    flex: 1;
    font-size: 15px;
    padding: 5px;
}
.expanderButton {
    margin-top: 7px;
    transition: all 0.25s ease;
    background-color: #144272;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #0e3763;
    box-shadow: 0px 2px 2px #0A2647;
}

.expanderButton:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0.2px 0.5px #0A2647;
}

.expanderButton:hover {
    filter: brightness(105%);
}
.forceLeft {
    order: -1;
}

.playerToggleContainer {
    width: 80%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}
#playerSideToggle {
    width: 40px;
    aspect-ratio: 1;
    margin-right: 10px;
}
.extraInfoContainer {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #144272;
    border: 3px solid #2C74B3;
    border-radius: 5px;
    gap: 36px
}

.extraInfo * {
    margin: 4px
}

.match {
    background-color: #205295;
    border-radius: 5px;
    border: 3px solid #2C74B3;
    padding: 15px;
    margin: 10px;
}
.matchTableContainer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media screen and (max-width: 768px) {
    .matchTableContainer {
        width: 100%;
    }
    main {
      flex-direction: column;
      align-items: stretch;
      width:100%;
    }

    body main>* {
      width: 100%;
    }

    :root {
      font-size: 15px;
    }

    nav.toolsSection .toolList {
        background-color: #03162c;
      position: fixed;
      left: -1000px;
      flex-direction: column;
      justify-content: flex-start;
      width: 100vw;
      text-align: center;
      transition: 0.3s;
      z-index: 100;
    }

    nav.toolsSection .toolList.active {
      left: 0;
      position: fixed;
    }

    nav.toolsSection .toolList.toolList {
      margin: 1.88rem 0 0;
    }

    .hamburger {
      margin: 10px;
      display: block;
      cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

