/* begin base styles */
html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #c8d0db;
    height: 100%;
    width: 100%;
}

label {
    font-family: 'Cabin';
    font-weight: normal;
}
input[type='number'] {
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: 10ch;
}

button {
    padding : 10px;
    border-radius: 4px;
    color: #c8d0db;
    background: #144272;
    border: 3px solid #2C74B3
}

button:disabled {
    opacity: 0.5;
}

button:hover {
    filter: brightness(120%);
    cursor: pointer;
}

button:active {
    filter:brightness(90%);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #c8d0db;
}

:root {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    margin: 0;
    height: 100%;
    background-color: #0A2647;
    display: flex;
    flex-direction: column;
}

/* end base style */

/* begin header styles */
.headerText {
    background-color: #03162c;
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 2.5em;
    color: #ffbb00;
    font-family: 'Luckiest Guy';
    font-weight: 100;
    text-shadow: 0px 3px 2px black;
}

.toolList {
    margin: 0 0 15px;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 4px;
}

.toolList>li {
    font-weight: 300;
    transition: all 0.25s ease;
    background-color: #144272;
    flex: 1;
    text-align: center;
    box-shadow: 0 3px 0px black;
    border-bottom: 3px solid #2C74B3;
}

.toolList>li>* {
    box-sizing: border-box;
    padding: 15px;
    display: block;
    width: 100%;
    height: 100%;
}

.toolList>li:hover {

    transition: all 0.25s ease;
    filter: brightness(105%);
    cursor: pointer;
    font-weight: 600;
    position: relative;
}

.toolList>li:active {
    filter: brightness(95%);
    position: relative;
    top: 1px;
}

.toolList a {
    width: 100%;
    text-decoration: none;
    color: #c8d0db;
}

.toolList a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

body .toolList>li.currentPage {
    filter: brightness(120%);
    font-weight: 600;
    box-shadow: none;
}

body .toolList>li.currentPage:hover {
    cursor: initial;
}

body .toolList>li.currentPage:active {
    position: initial;
}

/* end header styles */

/* begin eco sim styles */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simHeader {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width:80%;
}

section.runSimContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-left: auto;
    align-items: center
}

.runInputContainer {
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.runInputContainer input {
    width: 6ch
}

.runSimContainer button {
    border-radius: 50%;
    margin-left: 10px;
}
.subtitle {
    font-size: 1em;
    font-family: 'Cabin';
    opacity: 0.8
}
button.resetButton {
    padding : 10px;
    border-radius: 100%;
    color: #c8d0db;
    background: #144272;
    border: 3px solid #2C74B3
}

/* begin graph styles */
.graphContainer {
    width: 90%;
    height: max-content;
}

section.graphSection {
    background-color: #03162c;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#graph-area {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow:auto;
}

#graph-area img{
    width: 100%;
    border-radius: 0 0 8px 8px;
}

#graph-area span {
    padding: 28vh 0;
}

#graph-area .graphPlaceholder {
    align-self: center;
    opacity: .8;
}

.graphHeader {
    margin: 0;
    padding: 10px;
    background-color: #144272;
    border-radius: 8px 8px 0 0 ;
}

/* end graph styles */

/* begin parameter styles */

.paramsContainer{
    display: flex;
    gap: 10px;
    width: 90%;
}

.paramsContainer>* {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.paramsContainer h2 {
    margin-top: 0;
}

.initialStateParams, .buyQueueParams, .ecoQueueParams{
    background-color: #03162c;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

.initialStateHeader, .buyQueueHeader, .ecoQueueHeader{
    text-align: center;
    background-color: #144272;
    margin: 0;
    padding: 8px;
    border-radius: 8px 8px 0 0;
}
.stallInputContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.stallSpacer {
    width: 10%;
}

.stallContent {
    display: flex;
    flex-wrap: wrap;
}

.stallContent p {
    margin-left: 10px;
}

.stallForm {
    flex: 1;
    margin: 0;
    width: 30%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.stallForm button {
    background: #144272;
}

.initialGameState h2 {
    flex: 0
}

.initButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.initialStateForm {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.initialStateForm select {
    width: 20ch;
    padding: 3px;
    border-radius: 4px;
    border: none;
}
.initialStateForm>*{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.initialFarmsContainer {
    margin-top: 20px;
}
.initialFarmsForm {
    display: flex;
    flex-direction: column;
}

.initFarmsInfo {
    display: flex;
    flex-direction: column;
}

section form .initFarmPaths {
    display: flex;
    justify-content: center;
}

.initialFarmsContainer h4, .initialFarmsContainer h3 {
    margin-top: 0;
}
.initialFarmsContainer h4 {
    font-family: 'Cabin';
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
}

section form .initFarmPaths>* {
    width: 5ch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.initfarmsinfo {
    display: flex;
    justify-content: center;
}

section form .initFarmPaths>*>input {
    width: 4ch;
    margin-left: 5px;
}

.initialFarmsForm button{
    align-self: center;
}

#initialStateSubmit {
    margin: auto;
}

.initFarmsInfo {
    display: flex;
    justify-content: space-between;
}

h4.farmsListHeader {
    font-weight: bold;
    text-align: left;
}

/* begin buy queue param styles */

.inputContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buyDefenceContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.farmsForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#upgradeFarmButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upgradePathsContainer {
    align-self: center;
}

#farmSelect {
    margin-bottom: 15px;
    display: flex;
}

#farmSelect input {
    display: none;
}

#farmSelect label {
    transition: all 0.1s ease-in-out;
    background-color: #144272;
    padding: 10px;
    text-align: center;
    flex: 1;
    border: solid black 1px;
    border-top: none;
}

#farmSelect label:hover {
    filter: opacity(80%);
    cursor: pointer;
}

#farmSelect label:active, #farmSelect label.pressed {
    filter:brightness(130%);
}


#farmSelect label:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: none;
}

#farmSelect label:first-of-type {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: none;
}

.selectFarmText {
    margin: 0;
    text-align: center;
}

#farmSelect p {
    opacity: 0.5;
    margin-bottom: 0;
}

.sendsContainer input {
    display: none;
}

.sendsContainer {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

.sendsContainer input {
    display: none;
}

.sendsContainer label {
    transition: all 0.1s ease-in-out;
    background-color: #144272;
    padding: 10px;
    text-align: center;
    flex: 1;
    border: solid black 1px;
}

.sendsContainer label:hover {
    filter: opacity(80%);
    cursor: pointer;
}

.sendsContainer label:active, .sendsContainer label.pressed {
    filter:brightness(130%);
}

.sendContainer {
    display: flex;
}

.sendContainer label {
    width: 80px;
}

.ecoContainer, .buyContainer {
    display: flex;
    justify-content: space-between;
}

.runSimContainer {
    margin: 20px;
}

.buyTitle, .ecoTitle {
    font-weight: bold;
}

.py-error {
    display: none;
}
@media screen and (max-width: 1200px) {
    .paramsContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    body main>* {
      width: 100%;
    }

    :root {
      font-size: 15px;
    }

    nav.toolsSection .toolList {
      background-color: #0a2647;
      position: fixed;
      left: -1000px;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }

    nav.toolsSection .toolList.active {
      left: 0;
      position: fixed;
      z-index: 100;
    }

    nav.toolsSection .toolList.toolList {
    }

    .hamburger {
      margin: 10px;
      display: block;
      cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
  }
